.header-btn {
  margin-top: 30px;
  display: flex;
}

@media only screen and (max-width: 700px) {
  .header-btn {
    flex-direction: column;
    margin: auto;
  }
}

@media only screen and (max-width: 1024) {
  .header-btn {
    justify-content: space-evenly;
  }
}
