.container-footer {
  padding: 20px 0;
  margin-top: 50px;
  background: #730ad4;
}

.content {
  text-align: center;
}

.content h1 {
  color: white;
  margin-bottom: 70px;
}

.content p {
  color: rgb(238, 238, 238);
  font-size: 15px;
  border-bottom: 1px solid rgb(238, 238, 238);
  /* padding-bottom: 10px; */
  padding: 10px 300px;
  display: inline;
  font-weight: 300;
}

.content button {
  background: #730ad4;
  text-transform: uppercase;
  padding: 16px 35px;
  border: 1px solid white;
  color: white;
  transition: 0.5s;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 50px auto;
}

.content button:hover {
  cursor: pointer;
  box-shadow: none;
  background: #680fbb;
  transition: 0.5s;
}

@media only screen and (max-width: 700px) {
  button {
    margin-left: 0;
    padding: 12px 18px;
    font-size: 10px;
    margin-top: 10px;
  }
}

.content input {
  width: 60%;
  background: transparent;
  outline: none;
  border: 0;
  border-bottom: 1px solid #fff;
  padding: 10px;
  color: #fff;
  text-align: center;
}

::placeholder {
  color: #efefef;
  font-size: 18px;
}

small {
  color: #fff;
  font-size: 18px;
}
